#sceltautente,
#numeroutente,
#numerocomputer,
#somma,
#esito{
  font-size: 20px;
  transition: 0.4s;
}
#sceltautente:hover,
#numeroutente:hover,
#numerocomputer:hover,
#somma:hover,
#esito:hover{
  transform: scale(1.2);
}
#sceltautente{
  text-transform: capitalize;
  color: grey;
}
#numeroutente{
  color: blue;
}
#numerocomputer{
  color: orange;
}
#somma{
  color: purple;
}
#esito{
  width: 140px;
}
.vinto{
  color: green;
}
.perso{
  color: red;
}
span{
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  width: 80px;
  border-radius: 20px;
  border: 1px solid grey;
}
